@import "./../../css/variables.scss";
.categories-btn {
  color: $light-color !important;
  text-decoration: none !important;
  position: relative;
  transition: 0.5s !important;
  &:hover {
    color: $primary-color !important;
  }
}

.active-list::before {
  content: " ";
  position: absolute;
  border-bottom: 4px solid $primary-color;
  width: 40%;
  bottom: -5px;
}
