@import "./../../css/variables.scss";

.img-card-container {
  height: 180px;
}

.card:hover {
  transform: scale(1.1);
}
.card {
  background-color: $dark-color !important;
  transition: 0.5s;

  card-title {
    color: $primary-color;
  }

  .link-demo {
    color: $primary-color;
    text-decoration: none;
    text-align: center;
  }

  .card-body {
    height: 120px;
  }
}
