@import "../../css/variables.scss";
.profile-img > img {
  border-radius: 50%;
}

.name {
  font-size: 3.5rem;
  text-shadow: 2px 2px $dark-color, -2px 2px $dark-color, 2px -2px$dark-color,
    -2px -2px$dark-color, 5px 5px$dark-color;
  line-height: 1.2;
}
